@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;900&display=swap');
/* font-family:'Poppins', sans-serif; */
.container{
    height: 100vh;
 display: flex;
 justify-content: center;
 align-items: center;
}
.card{
    width: 300px;
    text-align: center; 
           
    }
input{
    border: 1px solid lightgray;
    padding: 16px;
    border-radius: 8px;
    width: 100%;
    font-size: 16px;
    margin-bottom: 16px;
    box-sizing: border-box;
}

.btn{
    background-color: black;
    color: white;
    padding: 16px 40px;
    font-size: 16px;
    border-radius: 19px;
    border: none;
    cursor: pointer;
}

.small{
    color: grey;
    font-family:'Poppins', sans-serif;
    font-size: 13px;
}